.backdrop {
  width: 70%;
  height: 80%;
  overflow-y: auto;
  background-color: #ffffff;
}

.backdrop-wallpaper {
  background: #ffffff;
  padding-top: 5%;
  height:80%;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.backdrop-image {
  max-width: 90%;
  max-height: 75%;
  height: auto;
  width: auto;
}

.backdrop-contents {
  height: auto;
  background: #ffffff;
  padding: 5px;
}